<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
  <nav>
    <a href="/" class="navTitle" >Askmeanything-39</a>
</nav>
  <main class="homePage">
    <h1>
        About Us
    </h1>
    <div class="qLinks">
<div class="qLink" href="">
  <img src="/static/img/costo.jpg" alt="">
  <p class="qTitle">Constantinos Costopoulos</p>
  <p class="qSubtitle">Electrical and Computer Engineering Undergraduate (8th semester)</p>
</div>
<div class="qLink" href="">
  <img src="/static/img/tsaou.png" alt="">
  <p class="qTitle">Kostas Tsaousis</p>
  <p class="qSubtitle">Electrical and Computer Engineering Undergraduate (8th semester)</p>
</div>
    </div>
</main>
<footer>
  <footer>
    <a href="/about" class="footerLink">About</a>
    <a href="/contact" class="footerLink">Contact Us</a>
    <a href="https://github.com/Costopoulos/NTUA-SaaS-39/tree/main/Documentation" class="footerLink">Project Documentation</a>
    <a href="https://github.com/Costopoulos/NTUA-SaaS-39" class="footerLink">Link On Github</a>
    <a href="https://courses.pclab.ece.ntua.gr/course/view.php?id=34" class="footerLink">Course Materials</a>
</footer>
</footer>
</body>
</html>