<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <input type="checkbox" id="hamburgerMenu">
    <nav>
       
     <label for="hamburgerMenu">   <img class="hamburger" src="img/bars-solid.svg" alt=""></label>
        <p class="navTitle">
            Askmeanything-39
        </p>
        <div class="sign">
            <a href="sign-in.html" class="sign-in">SIGN IN</a>
            <a href="sign-up.html" class="sign-up">SIGN UP</a>
        </div>
    </nav>
<main class="homePage">
    <h1>
        Welcome To AskMeAnything
    </h1>
    <div class="qLinks">
<a class="qLink" href="">
    <img src="img/search.svg" alt="">
    <p class="qTitle">Questions Per Keyword</p>
    <p class="qSubtitle">Questions per keywords' statistics</p>
</a>
<a class="qLink" href="">
    <img src="img/calendar.svg" alt="">
    <p class="qTitle">Questions Per Period</p>
    <p class="qSubtitle">Questions per period of time's statistics</p>
</a>
<a class="qLink" href="ask-question.html">
    <img src="img/conversation.svg" alt="">
    <p class="qTitle">Ask a New Question</p>
    <p class="qSubtitle">Ask me anything you like!</p>
</a>
<a class="qLink" href="listquestions.html">
    <img src="img/light-bulb.svg" alt="">
    <p class="qTitle">Answer a Question</p>
    <p class="qSubtitle">Browse and answer existing questions</p>
</a>
    </div>
</main>
<footer>
    <a href="" class="footerLink">About</a>
    <a href="" class="footerLink">Contact Us</a>
    <a href="" class="footerLink">Project Documentation</a>
    <a href="" class="footerLink">Link On Github</a>
    <a href="" class="footerLink">Course Materials</a>
</footer>
    <script src="script.js"></script>
</body>
</html>