<html>
    <head>
        <title>
            Home Page
        </title>
    </head>
    <body>
        <p>
            Sela
        </p>

        <form action="/signout" method="POST">
            <button>
                Signout
            </button>
        </form>
    </body>
</html>